// filepath: /Users/monica/Documents/projects/jetlag/frontend/src/styles/variables.scss
:root {
  /* Colors */
  --light-gray-bg: #f9fafb;
  --white: #ffffff;
  --black: #111827;
  --text-color: #333;
  --color-blue: #3a78fc;
  // --secondary-color: #ff6347;
  // --background-color: #f5f5f5;

  /* Fonts */
  --font-primary: "Roboto", "Helvetica Neue", "Helvetica", arial, sans-serif;
  --font-secondary: "Open Sans", sans-serif;

  /* Font Colors */
  --primary-font-dark: #374151;
  --font-gray: #9ba3af;
}
