@use "@/styles/tokens" as *;

.container {
  color: $color-neutral-900;
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  background-color: $color-white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  overflow: hidden;
  height: 145px;

  .imageWrapper {
    position: relative;

    .image {
      width: 150px;
      object-fit: cover;

      @media only screen and (min-width: 472px) {
        width: 200px;
      }

      @media only screen and (min-width: 700px) {
        width: auto;
      }
    }

    .tag {
      position: absolute;
      top: 16px;
      left: 16px;
      border-radius: 90px;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      padding: 2px 12px;
      background-color: $color-white;
      color: $color-neutral-900;
      background-color: $color-red;
      color: $color-white;

      .icon {
        color: $color-white;
        margin-right: 8px;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;

    h3,
    p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      height: 100%;
    }

    h3 {
      -webkit-line-clamp: 1;
      line-clamp: 1;
      min-height: 24px;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      color: $color-neutral-900;
    }
    p {
      -webkit-line-clamp: 3;
      line-clamp: 3;
      min-height: 60px;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: $color-neutral-900;
    }
    .country {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: $color-neutral-900;

      .icon {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: $color-white;
        padding: 2px;
        border-radius: 90px;
        color: $color-white;
        color: $color-orange;
      }
    }
  }
}
