@use "@/styles/tokens" as *;

.section {
  padding: 80px 0;
  background-color: $color-neutral-50;
  text-align: center;
  color: $color-neutral-900;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 32px 16px;
  display: flex;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;

  h2 {
    margin: 24px 0;
  }

  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
}

.grid {
  display: grid;
  gap: 32px;
  max-width: 896px;
  margin: 0 auto;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.bottomText {
  // background-color: $color-neutral-50;
  padding: 32px 16px;
  color: $color-neutral-900;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media only screen and (min-width: 768px) {
    width: 768px;
    margin: 0 auto;
  }

  p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }
}

.card {
  padding: 16px;
  background-color: $color-white;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-start;
  gap: 16px;

  .imageWrapper {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: $color-neutral-200;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    // gap: 4px;
    font-size: 16px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: left;

    h3 {
      font-weight: 700;
      margin-bottom: 4px;
    }

    .desc {
      font-weight: 500;
      font-size: 14px;
    }

    h3,
    .desc {
      width: 100%;
    }
  }
}

.icon {
  font-size: 24px;

  &.blue {
    color: $color-blue;
  }

  &.cyan {
    color: $color-blue-medium;
  }

  &.green {
    color: $color-dark-bright-green;
  }

  &.yellow {
    color: $color-primary-orange;
  }
}
