.container {
  padding: 16px;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  text-align: center;

  .link {
    display: flex;
    justify-content: space-between;
    // flex-direction: column;
    gap: 10px;

    .leftWrapper {
      display: flex;
      gap: 10px;

      .icon {
        width: 20px;
        height: 20px;
      }

      h2 {
        font-weight: 500;
        font-size: 16px;
        align-items: center;
        display: flex;
      }
    }

    .icon {
      width: 20px;
      height: 20px;
      color: #a2a2a2;
    }
  }

  p {
    font-size: 16px;
  }
}
