.container {
  padding: 16px;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  text-align: center;

  .link {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .icon {
      width: 24px;
      height: 24px;
      margin: 0 auto;
    }

    h2 {
      font-weight: 500;
      font-size: 16px;
    }
  }

  p {
    font-size: 16px;
  }
}
