.container {
  background-color: var(--light-gray-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 32px 16px;
  gap: 16px;
  color: var(--primary-font-dark);

  h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
  }
}
