.container {
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  color: #374151;
  padding: 32px 24px;
  gap: 16px;

  h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
  }
}
