.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 32px 16px;
  gap: 16px;
  color: var(--primary-font-dark);

  @media only screen and (min-width: 768px) {
    width: 768px;
    margin: 0 auto;
  }

  .wrapper {
    background-image: linear-gradient(to bottom, #fde2e1, #dae9fe);
    border-radius: 12px;
    padding: 12px 6px;
  }
}
