@use "@/styles/tokens" as *;

.container {
  padding: 0 16px;

  .iconWrapper {
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: $color-green-success-bg;
    margin: 16px auto;
    width: 80px;
    height: 80px;

    .icon {
      color: $color-blue;
      width: 40px;
      height: 40px;
      animation: bounce 1s ease-in-out infinite;
    }
  }

  h2.title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    background: linear-gradient(
      90deg,
      rgba(57, 121, 253, 1) 0%,
      rgba(27, 196, 244, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    .rocketIcon {
      // color: rgba(57, 121, 253, 1);
      color: $color-blue-medium;
      margin-left: 8px;
    }
  }

  .headline {
    color: $color-neutral-900;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    padding: 0 22px;
    margin: 16px 0 24px;

    .catIcon {
      margin-left: 8px;
    }
  }

  .description {
    color: $color-neutral-900;
    text-align: center;
    font-size: 14px;
    padding: 0 22px;
    margin: 16px 0 24px;
  }

  .closeNowButton {
    width: 100%;
    color: $color-white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    background: $gradient-blue-primary;
    background: linear-gradient(
      90deg,
      rgba(57, 121, 253, 1) 0%,
      rgba(27, 196, 244, 1) 100%
    );

    &:hover {
      background: $color-blue-dark;
      background: linear-gradient(
        180deg,
        rgba(57, 121, 253, 1) 0%,
        rgba(27, 196, 244, 1) 100%
      );
    }

    .icon {
      margin-left: 8px;
    }
  }
}

/* Keyframes for the bounce animation */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0); /* Start and end at the original position */
  }
  50% {
    transform: translateY(-10px); /* Move up by 10px */
  }
}
