.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 48px 16px 32px;
  gap: 16px;
  color: var(--primary-font-dark);

  @media only screen and (min-width: 768px) {
    width: 768px;
  }

  h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    width: 100%;

    @media only screen and (min-width: 768px) {
      flex-direction: row;
    }
  }
}
