@import "@/styles/tokens";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: $space-2xl $space-lg;
  gap: $space-lg;
  background-color: $color-light-gray-bg;
  color: $color-text-dark;

  @media only screen and (min-width: $breakpoint-tablet) {
    width: 768px;
    margin: 0 auto;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: $space-xl;

    @media only screen and (min-width: $breakpoint-tablet) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: $space-lg;
    }

    .safety {
      display: flex;
      flex-direction: column;
      gap: $space-lg;
      padding: $space-xl $space-lg;
      background-color: $color-white;
      border-radius: $space-md;
      box-shadow: $shadow-sm;

      .title {
        display: flex;
        align-items: center;
        gap: $space-sm;

        .icon {
          width: 20px;
          height: 20px;
        }
      }

      .progressBarWrapper {
        // background-color: $color-bright-green-light;
        background-color: $color-yellow-light;
        padding: $space-lg;
        border-radius: $space-md;

        .top {
          display: flex;
          justify-content: space-between;
          margin-bottom: $space-sm;

          h2 {
            color: $color-text;
            font-size: $font-size-lg;
            line-height: $line-height-relaxed;
            font-weight: $font-weight-medium;
          }

          p {
            color: $color-green;
            font-size: $font-size-lg;
            line-height: $line-height-relaxed;
            font-weight: $font-weight-medium;
          }
        }

        .progressBar {
          height: 10px;
          width: 100%;
          background-color: $color-green-mint;
          border-radius: $space-md;
          overflow: hidden;

          .fill {
            background-color: $color-green;
            height: 100%;
            transition: width 0.3s ease-in-out;
          }
        }
      }

      p {
        font-size: $font-size-base;
        line-height: $line-height-relaxed;
        font-weight: $font-weight-normal;
      }
    }
  }
}
