@use "@/styles/tokens" as *;

.container {
  color: $color-text-dark;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: $radius-sm;
  background-color: $color-white;
  box-shadow: $shadow-sm;
  border-radius: $radius-md;
  overflow: hidden;

  .imageWrapper {
    position: relative;
    display: flex;
    flex-grow: 1;

    .image {
      object-fit: cover;
      width: 100%;
      height: auto;

      @media only screen and (min-width: 600px) {
        height: unset;
      }
    }

    .topTag {
      position: absolute;
      top: $space-sm;
      right: $space-sm;
      border-radius: $radius-pill;
      font-size: $font-size-sm;
      font-weight: $font-weight-medium;
      line-height: $line-height-tight;
      padding: $space-xs $space-lg;
      background-color: $color-white;
      color: $color-text-dark;

      .icon {
        width: 14px;
        height: 14px;
        margin-right: $space-xs;

        &.blue {
          color: $color-blue;
        }
        &.green {
          color: $color-green;
        }
        &.purple {
          color: $color-purple;
        }
        &.orange {
          color: $color-orange;
        }
        &.red {
          color: $color-red;
        }
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $space-lg;
    gap: $space-lg;

    h3 {
      color: $color-text-dark;
      font-size: $font-size-xl;
      font-weight: $font-weight-bold;
      line-height: $line-height-loose;
    }

    p {
      color: $color-text-dark;
      font-size: $font-size-base;
      font-weight: $font-weight-normal;
      line-height: $line-height-base;
    }

    .tags {
      display: flex;
      align-items: center;
      gap: $space-sm;

      .tag {
        background-color: $color-blue-light;
        color: $color-blue;
        border-radius: $radius-pill;
        font-size: $font-size-sm;
        font-weight: $font-weight-medium;
        line-height: $line-height-tight;
        padding: $space-xs $space-lg;

        &.blue {
          color: $color-blue;
          background-color: $color-blue-light;
        }
        &.green {
          color: $color-green;
          background-color: $color-green-light;
        }
        &.purple {
          color: $color-purple;
          background-color: $color-purple-light;
        }
        &.orange {
          color: $color-orange;
          background-color: $color-orange-light;
        }
        &.red {
          color: $color-red;
          background-color: $color-red-light;
        }
      }

      .date {
        color: $color-text-dark;
        font-size: $font-size-sm;
        font-weight: $font-weight-medium;
        line-height: $line-height-tight;
      }
    }

    .bottomInfo {
      display: flex;
      justify-content: space-between;
      gap: $space-sm;

      .country,
      .readTime {
        .icon {
          width: 14px;
          height: 14px;
          margin-right: $space-xs;

          &.blue {
            color: $color-blue;
          }
          &.green {
            color: $color-green;
          }
          &.purple {
            color: $color-purple;
          }
          &.orange {
            color: $color-orange;
          }
          &.red {
            color: $color-red;
          }
        }
      }
    }
  }
}

// Card link wrapper
.cardLink {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    transform: translateY(-2px);

    .container {
      box-shadow: $shadow-md;
    }
  }

  &:focus {
    outline: none;
    outline-offset: 2px;
    border-radius: $radius-md;
  }

  &:active {
    transform: translateY(0);
  }

  .container {
    height: 100%;
  }
}
