@use "@/styles/tokens" as *;

.container {
  color: $color-text-dark;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: $radius-sm;
  background-color: $color-white;
  box-shadow: $shadow-sm;
  border-radius: $radius-md;
  overflow: hidden;

  .imageWrapper {
    position: relative;
    display: flex;
    flex-grow: 1;

    .image {
      width: 100%;
      height: 250px;
      object-fit: cover;

      @media only screen and (min-width: 600px) {
        height: unset;
      }
    }

    .topInfo {
      display: flex;
      justify-content: space-between;
      width: calc(100% - #{$space-2xl});
      position: absolute;
      top: $space-lg;
      right: $space-lg;

      .tag {
        border-radius: $radius-pill;
        font-size: $font-size-sm;
        font-weight: $font-weight-medium;
        line-height: $line-height-tight;
        padding: $space-xs $space-lg;
        color: $color-white;

        &.blue {
          background-color: $color-blue;
        }
        &.green {
          background-color: $color-green-alpha;
        }
        &.purple {
          background-color: $color-purple-alpha;
        }
        &.orange {
          background-color: $color-orange-alpha;
        }
        &.red {
          background-color: $color-red-alpha;
        }
      }
      .date {
        border-radius: $radius-pill;
        font-size: $font-size-sm;
        font-weight: $font-weight-medium;
        line-height: $line-height-tight;
        padding: $space-xs $space-lg;
        background-color: $color-white;
        color: $color-neutral-900;
      }
    }

    .sectionIcon {
      position: absolute;
      bottom: $space-md;
      right: $space-md;
      background-color: rgba(62, 62, 62, 0.6);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: $shadow-sm;
      font-size: $font-size-lg;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $space-lg;
  gap: $space-sm;

  .country {
    font-size: $font-size-sm;
    font-weight: $font-weight-medium;
    line-height: $line-height-tight;
    text-transform: capitalize;

    .icon {
      margin-right: $space-sm;

      &.blue {
        color: $color-blue;
      }
      &.green {
        color: $color-green;
      }
      &.purple {
        color: $color-purple;
      }
      &.orange {
        color: $color-orange;
      }
      &.red {
        color: $color-red;
      }
    }
  }

  h3 {
    color: $color-neutral-900;
    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
    line-height: $line-height-loose;
  }

  p {
    color: $color-neutral-900;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    line-height: $line-height-base;
  }
}

// Clickable card styles
.cardLink {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  display: block;
  height: 100%;
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    transform: translateY(-2px);

    .container {
      box-shadow: $shadow-md;
    }
  }

  &:focus {
    outline: none;
    outline-offset: 2px;
  }

  &:active {
    transform: translateY(0);
  }

  .container {
    height: 100%;
  }
}
