.footer {
  background-color: var(--black);
  padding: 24px 16px 16px;
  gap: 6px;
  display: flex;
  flex-direction: column;

  .mobileFooter {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media only screen and (min-width: 768px) {
      display: none;
    }

    .followUsLinks {
      display: flex;
      gap: 16px;
      margin: 12px 0;

      .followLink {
        display: flex;

        .icon {
          width: 20px;
          height: 20px;
        }
      }
    }

    .footerLinks {
      color: var(--font-gray);
      display: flex;
      flex-direction: column;
      gap: 8px;
      font-size: 14px;

      .links {
        display: flex;
        gap: 12px;
        cursor: pointer;
      }
    }

    .privacyPolicy,
    .termsOfService {
      color: var(--font-gray);
      display: flex;
      gap: 12px;
    }
  }

  .desktopFooter {
    display: none;

    @media only screen and (min-width: 768px) {
      display: flex;
      width: 768px;
      margin: 0 auto;
      align-items: flex-end;
      flex-direction: column;
    }

    .top {
      display: flex;
      justify-content: space-between;
      gap: 16px;
      width: 100%;
      padding: 32px 24px;

      .itemList {
        &:first-child {
          flex: 0 0 250px;

          p {
            color: var(--color-blue-light);
            opacity: 0.7;
          }
        }
        &:last-child {
          flex: 0 0 100px;
        }

        &:nth-child(2) {
          flex: 1 1 auto;
        }

        h3 {
          color: var(--white);
          font-weight: 700;
          font-size: 18px;
          margin-bottom: 8px;
        }

        p {
          font-size: 14px;
          color: var(--font-gray);
        }

        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          gap: 4px;

          li {
            // cursor: pointer;

            &:last-child {
              margin-top: 16px;
              color: var(--color-white);
              // cursor: pointer;
            }

            a {
              // color: var(--font-gray);
              font-size: 14px;
              color: var(--font-gray);
              text-decoration: none;
              cursor: pointer;
            }
          }
        }

        .followUsLinks {
          display: flex;
          gap: 8px;
          margin: 12px 0;

          .followLink {
            display: flex;

            .icon {
              width: 16px;
              height: 16px;
              color: var(--font-gray);
            }
          }
        }
      }
    }

    .bottom {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 16px;
      font-size: 12px;
      color: var(--font-gray);
      border-top: 1px solid var(--font-gray);
    }
  }
}
