.footer {
  background-color: #111827;
  padding: 24px 8px 12px;
  gap: 6px;
  display: flex;
  flex-direction: column;

  h3 {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 4px;
  }

  .followUsLinks {
    display: flex;
    gap: 10px;
    margin: 12px 0;

    .followLink {
      width: 16px;
      display: flex;
    }
  }

  .footerLinks {
    color: #9ba3af;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;

    .links {
      display: flex;
      gap: 12px;
      cursor: pointer;
    }
  }

  .privacyPolicy,
  .termsOfService {
    color: #9ba3af;
    display: flex;
    gap: 12px;
  }
}
