.footer {
  background-color: var(--black);
  padding: 24px 16px 16px;
  gap: 6px;
  display: flex;
  flex-direction: column;

  h3 {
    color: var(--white);
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 4px;
  }

  .followUsLinks {
    display: flex;
    gap: 16px;
    margin: 12px 0;

    .followLink {
      display: flex;

      .icon {
        width: 24px;
        height: 24px;
      }
    }
  }

  .footerLinks {
    color: var(--font-gray);
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;

    .links {
      display: flex;
      gap: 12px;
      cursor: pointer;
    }
  }

  .privacyPolicy,
  .termsOfService {
    color: var(--font-gray);
    display: flex;
    gap: 12px;
  }
}
