@import "@/styles/tokens";

.footer {
  background-color: $color-black;
  padding: $space-xl $space-lg $space-lg;
  gap: 6px;
  display: flex;
  flex-direction: column;

  .mobileFooter {
    display: flex;
    flex-direction: column;
    gap: $space-lg;

    @media only screen and (min-width: $breakpoint-tablet) {
      display: none;
    }

    .followUsLinks {
      display: flex;
      gap: $space-lg;
      margin: $space-md 0;

      .followLink {
        display: flex;

        .icon {
          width: 20px;
          height: 20px;
        }
      }
    }

    .footerLinks {
      color: $color-text-gray;
      display: flex;
      flex-direction: column;
      gap: $space-sm;
      font-size: $font-size-sm;

      .links {
        display: flex;
        gap: $space-md;
        cursor: pointer;
      }
    }

    .privacyPolicy,
    .termsOfService {
      color: $color-text-gray;
      display: flex;
      gap: $space-md;
    }
  }

  .desktopFooter {
    display: none;

    @media only screen and (min-width: $breakpoint-tablet) {
      display: flex;
      width: 768px;
      margin: 0 auto;
      align-items: flex-end;
      flex-direction: column;
    }

    .top {
      display: flex;
      justify-content: space-between;
      gap: $space-lg;
      width: 100%;
      padding: $space-2xl $space-xl;

      .itemList {
        &:first-child {
          flex: 0 0 250px;

          p {
            color: $color-blue-business;
            opacity: 0.7;
          }
        }
        &:last-child {
          flex: 0 0 100px;
        }

        &:nth-child(2) {
          flex: 1 1 auto;
        }

        h3 {
          color: $color-white;
          font-weight: $font-weight-bold;
          font-size: $font-size-lg;
          margin-bottom: $space-sm;
        }

        p {
          font-size: $font-size-sm;
          color: $color-text-gray;
        }

        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          gap: $space-xs;

          li {
            &:last-child {
              margin-top: $space-lg;
              color: $color-white;
            }

            a {
              font-size: $font-size-sm;
              color: $color-text-gray;
              text-decoration: none;
              cursor: pointer;
            }
          }
        }

        .followUsLinks {
          display: flex;
          gap: $space-sm;
          margin: $space-md 0;

          .followLink {
            display: flex;

            .icon {
              width: 16px;
              height: 16px;
              color: $color-text-gray;
            }
          }
        }
      }
    }

    .bottom {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: $space-lg;
      font-size: $font-size-xs;
      color: $color-text-gray;
      border-top: 1px solid $color-text-gray;
    }
  }
}
