@import "@/styles/tokens";

.container {
  background-color: $color-neutral-50;

  .masonryGridSection {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 16px;

    .column {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;
    }

    @media only screen and (min-width: 600px) {
      flex-direction: row;
      width: 600px;
      margin: 0 auto;
    }

    @media only screen and (min-width: 768px) {
      flex-direction: row;
      width: 768px;
      margin: 0 auto;
    }
  }
}
