@import "@/styles/tokens";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $space-lg;
  background-color: $color-white;
  border-bottom: 1px solid $color-gray-border-light;

  @media only screen and (min-width: $breakpoint-tablet) {
    width: 768px;
    margin: 0 auto;
    align-items: flex-end;
  }
}
