.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: var(--white);
  border-bottom: 1px solid rgb(222, 221, 221);

  background-color: transparent;
  border-bottom: none;

  @media only screen and (min-width: 768px) {
    width: 768px;
    margin: 0 auto;
    align-items: flex-end;
  }
}
