.hero {
  position: relative;
  text-align: center;
  color: var(--white);
  height: 350px;
  width: 100%;

  @media only screen and (min-width: 768px) {
    height: 450px;
  }

  .heroImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .heroContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 12px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: left;
    padding: 16px 16px 24px;
    background-color: rgba(0, 0, 0, 0.5);

    @media only screen and (min-width: 768px) {
      justify-content: center;
    }

    h1,
    p {
      width: 100%;

      @media only screen and (min-width: 768px) {
        width: 768px;
        padding-right: 25%;
        margin: 0 auto;
        text-align: left;
      }
    }

    h1 {
      font-size: 42px;
      font-weight: bolder;
      text-transform: capitalize;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
    }
  }
}
