@use "@/styles/variables.scss" as *;

.hero {
  position: relative;
  text-align: center;
  color: var(--white);

  .heroImage {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    // object-fit: cover;
  }

  .heroContent {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 12px;
    position: absolute;
    width: 100%;
    height: 99%;
    top: 0;
    text-align: left;
    padding: 16px 16px 24px;
    background-color: rgba(0, 0, 0, 0.5);

    h1,
    p {
      width: 90%;
    }

    h1 {
      font-size: 32px;
      font-weight: bolder;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
    }
  }
}
