.hero {
  position: relative;
  text-align: center;
  color: white;

  .heroImage {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    // object-fit: cover;
  }

  .heroContent {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 12px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: left;
    padding: 12px 12px 24px;
    background-color: rgba(0, 0, 0, 0.5);

    h1,
    p {
      width: 80%;
    }

    h1 {
      font-size: 24px;
      font-weight: 700;
    }

    p {
      font-size: 16px;
      // color: #9ba3af;
    }
  }
}
