@use "@/styles/tokens" as *;

.container {
  background-color: $color-neutral-50;
  padding: 24px 16px;

  @media only screen and (min-width: 768px) {
    padding: 48px 0;
  }

  .wrapper {
    width: 100%;

    @media only screen and (min-width: 768px) {
      width: 768px;
      margin: 0 auto;
    }

    h2 {
      color: $color-neutral-900;
      font-size: 32px;
      font-weight: 700;
      text-align: center;
      padding: 16px 0 24px;
      line-height: 40px;
      margin: 0;

      @media only screen and (min-width: 768px) {
        padding: 0 0 24px;
      }
    }

    .cardWrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;

      @media only screen and (min-width: 600px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
      }
    }
  }
}
