@use "@/styles/tokens" as *;

.contactUsButton {
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: $color-white;
  opacity: 0.8;
  transition:
    color 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  cursor: pointer;
  text-align: left;

  &:hover {
    color: $color-blue-light;
    opacity: 1;
  }

  .icon {
    width: 14px;
    height: 14px;
    margin-left: 8px;
  }
}

.contactFormTitle {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: $color-neutral-900;
}

.contactFormDescription {
  color: $color-neutral-900;
  text-align: center;
  font-size: 14px;
  padding: 0 22px;
  margin: 16px 0 24px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px;

  .inputWrapper {
    position: relative;
    display: flex;
    align-items: center;

    .formInput,
    .formTextArea {
      width: 100%;
      padding: 8px 8px 8px 40px;
      border: 1px solid $color-gray-border;
      border-radius: 0.375rem;
      background-color: $color-white;
      font-size: 16px;
      color: $color-neutral-900;
      outline: none;
      transition: box-shadow 0.2s ease-in-out;
      font-size: 16px;
      line-height: 22px;
    }

    .formTextArea {
      resize: none;
      overflow-y: auto;
      height: 82px; // 66 = 3 rows each line height 22px plus 16 px of padding
    }

    .icon {
      position: absolute;
      top: 12px;
      left: 16px;
      width: 16px;
      height: 16px;
      color: $color-blue-medium;
    }
  }

  .submitButton {
    width: 100%;
    color: $color-white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    background: $gradient-blue-primary;
    background: linear-gradient(
      90deg,
      rgba(57, 121, 253, 1) 0%,
      rgba(27, 196, 244, 1) 100%
    );

    &:hover {
      background: $color-blue-dark;
      background: linear-gradient(
        180deg,
        rgba(57, 121, 253, 1) 0%,
        rgba(27, 196, 244, 1) 100%
      );
    }

    .icon {
      margin-left: 8px;
    }
  }

  .header {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 16px;
    display: none;

    .headerItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;

      .imgWrapper {
        border-radius: 50%;
        cursor: pointer;
        padding: 10px;
        display: flex;
        justify-content: center;

        &.worldIconWrapper {
          background-color: $color-blue-bg;
        }

        &.laptopIconWrapper {
          background-color: $color-blue-bg;
          background-color: $color-teal-bg;
        }

        &.handShakeIconWrapper {
          background-color: $color-blue-bg;
          background-color: $color-bright-green-bg;
        }

        .icon {
          width: 20px;
          height: 20px;

          &.worldIcon {
            color: $color-blue;
          }

          &.laptopIcon {
            color: $color-blue-light;
          }

          &.handShakeIcon {
            color: $color-bright-green;
          }
        }
      }

      h3 {
        font-size: 14px;
        font-weight: 500;
        color: $color-neutral-600;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;

    p {
      font-size: 12px;
      font-weight: 500;
      color: $color-neutral-600;
      width: 100%;
      text-align: center;
    }

    .socialMediaWrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .link {
        border-radius: 50%;
        cursor: pointer;
        padding: 10px;
        display: flex;
        justify-content: center;
        background-color: $color-blue-bg;

        .icon {
          color: $color-blue;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
