.contactUsButton {
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: var(--color-white);
  opacity: 0.8;
  transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    color: var(--color-blue-light);
    opacity: 1;
  }

  .icon {
    width: 14px;
    height: 14px;
    margin-left: 8px;
  }
}

.contactFormTitle {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: var(--primary-font-dark);
}

.contactFormDescription {
  color: var(--primary-font-dark);
  text-align: center;
  font-size: 14px;
  padding: 0 22px;
  margin: 16px 0 24px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px;

  .inputWrapper {
    position: relative;
    display: flex;
    align-items: center;

    .formInput,
    .formTextArea {
      width: 100%;
      padding: 8px 8px 8px 40px;
      border: 1px solid #bebebe;
      border-radius: 0.375rem;
      background-color: var(--white);
      font-size: 16px;
      color: var(--primary-font-dark);
      outline: none;
      transition: box-shadow 0.2s ease-in-out;
      font-size: 16px;
      line-height: 22px;
    }

    .formTextArea {
      resize: none;
      overflow-y: auto;
      height: 82px; // 66 = 3 rows each line height 22px plus 16 px of padding
    }

    .icon {
      position: absolute;
      top: 12px;
      left: 16px;
      width: 16px;
      height: 16px;
      color: var(--color-blue-medium);
    }
  }

  .submitButton {
    width: 100%;
    color: var(--white);
    padding: 12px;
    border: none;
    border-radius: 8px;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    background: rgb(57, 121, 253);
    background: linear-gradient(
      90deg,
      rgba(57, 121, 253, 1) 0%,
      rgba(27, 196, 244, 1) 100%
    );

    &:hover {
      background: #1d4ed8;
      background: linear-gradient(
        180deg,
        rgba(57, 121, 253, 1) 0%,
        rgba(27, 196, 244, 1) 100%
      );
    }

    .icon {
      margin-left: 8px;
    }
  }

  .header {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 16px;
    display: none;

    .headerItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;

      .imgWrapper {
        border-radius: 50%;
        cursor: pointer;
        padding: 10px;
        display: flex;
        justify-content: center;

        &.worldIconWrapper {
          background-color: rgba(130, 184, 255, 0.2);
        }

        &.laptopIconWrapper {
          background-color: rgba(130, 184, 255, 0.2);
          background-color: rgba(47, 193, 230, 0.2);
        }

        &.handShakeIconWrapper {
          background-color: rgba(130, 184, 255, 0.2);
          background-color: rgba(0, 121, 2, 0.2);
        }

        .icon {
          width: 20px;
          height: 20px;

          &.worldIcon {
            color: var(--color-blue);
          }

          &.laptopIcon {
            color: var(--color-blue-light);
          }

          &.handShakeIcon {
            color: var(--color-bright-green);
          }
        }
      }

      h3 {
        font-size: 14px;
        font-weight: 500;
        color: var(--font-dark-gray);
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;

    p {
      font-size: 12px;
      font-weight: 500;
      color: var(--font-dark-gray);
      width: 100%;
      text-align: center;
    }

    .socialMediaWrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .link {
        border-radius: 50%;
        cursor: pointer;
        padding: 10px;
        display: flex;
        justify-content: center;
        background-color: rgb(130, 184, 255, 0.2);

        .icon {
          color: var(--color-blue);
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
