.contactUsButton {
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: var(--color-white);
  opacity: 0.8;
  transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    color: var(--color-blue-light);
    opacity: 1;
  }

  .icon {
    width: 14px;
    height: 14px;
    margin-left: 8px;
  }
}

.contactFormTitle {
  font-size: 16px;
  font-weight: 700;
  color: var(--primary-font-dark);
}

.contactFormDescription {
  color: var(--primary-font-dark);
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .formInput {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--light-gray);
    border-radius: 0.375rem;
    font-size: 16px;
    color: var(--primary-font-dark);
    outline: none;
    transition: box-shadow 0.2s ease-in-out;

    &:focus {
      box-shadow: 0 0 0 3px #3b82f6; /* focus:ring-blue-500 (blue-500 in Tailwind's color palette) */
      border-color: #2563eb;
    }
  }

  .submitButton {
    width: 100%;
    background-color: #2563eb;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: #1d4ed8; /* hover:bg-blue-700 (blue-700 in Tailwind's color palette) */
    }
  }
}
