.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 32px 16px;
  gap: 16px;
  background-color: var(--light-gray-bg);
  color: var(--primary-font-dark);
  width: auto;

  @media only screen and (min-width: 768px) {
    width: 768px;
  }

  .googleMaps {
    width: 100%;
    height: 300px;
  }
}
