@use "@/styles/tokens" as *;

.containerTypeA {
  background: linear-gradient(to right, $color-green-600, $color-blue-600);
  // border-left: 5px solid $color-pink;
  padding: $space-lg;
  border-radius: 5px;
  color: $color-white;
  box-shadow: $shadow-lg;

  h3 {
    font-size: $font-size-xl-base;
    font-weight: $font-weight-bold;
    font-style: italic;
  }

  a {
    color: $color-blue-light;
    font-size: $font-size-base;
    font-weight: $font-weight-medium;
    line-height: calc(24 / 16);
    text-decoration: none;

    svg {
      margin-left: 5px;
    }

    &:hover {
      color: $color-blue-medium;
    }
  }
}

.containerTypeB {
  span {
    color: transparent;
    margin-right: 5px;
    text-shadow:
      0 0 $color-black,
      0.06em 0 0 rgba(255, 255, 255, 0.7),
      0 0.05em 0 rgba(255, 255, 255, 0.7),
      -0.06em 0 0 rgba(255, 255, 255, 0.7);

    background-image:
      linear-gradient(transparent calc(100% - 0.45em), $color-blue-light 0),
      linear-gradient(transparent calc(100% - 0.45em), $color-blue-light 0);
    background-repeat: no-repeat;
    background-size:
      0px 100%,
      100% 100%;
    transition: background-size 0.1s ease-in-out;
  }

  a {
    color: $color-blue-medium;
    font-size: $font-size-base;
    font-weight: $font-weight-medium;
    line-height: calc(24 / 16);
    text-decoration: none;

    svg {
      margin-left: 5px;
    }

    &:hover {
      color: $color-blue-medium;
    }
  }
}
