.containerTypeA {
  border-left: 5px solid #db2974;
  padding: 16px;
  border-radius: 5px;

  h3 {
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
  }

  a {
    color: var(--color-blue-light);
    font-size: 16px;
    font-weight: 500;
    line-height: calc(24 / 16);
    text-decoration: none;

    svg {
      margin-left: 5px;
    }

    &:hover {
      color: var(--color-blue-medium);
    }
  }
}

.containerTypeB {
  span {
    color: transparent;
    margin-right: 5px;
    text-shadow:
      0 0 var(--black),
      0.06em 0 0 rgba(255, 255, 255, 0.7),
      0 0.05em 0 rgba(255, 255, 255, 0.7),
      -0.06em 0 0 rgba(255, 255, 255, 0.7);

    background-image:
      linear-gradient(
        transparent calc(100% - 0.45em),
        var(--color-blue-light) 0
      ),
      linear-gradient(
        transparent calc(100% - 0.45em),
        var(--color-blue-light) 0
      );
    background-repeat: no-repeat;
    background-size:
      0px 100%,
      100% 100%;
    transition: background-size 0.1s ease-in-out;
  }

  a {
    color: var(--color-blue-medium);
    font-size: 16px;
    font-weight: 500;
    line-height: calc(24 / 16);
    text-decoration: none;

    svg {
      margin-left: 5px;
    }

    &:hover {
      color: var(--color-blue-medium);
    }
  }
}
