@use "@/styles/tokens" as *;

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $shadow-overlay;
  backdrop-filter: blur(4px);
  z-index: 50;

  .modalContent {
    position: relative;
    background-color: $color-neutral-50;
    padding: $space-4xl $space-2xl $space-lg;
    border-radius: $radius-sm;
    box-shadow:
      0 4px 6px rgba(0, 0, 0, 0.1),
      0 1px 3px rgba(0, 0, 0, 0.06);
    width: 100%;
    max-width: 450px;
    transition: transform 0.3s ease;
    transform: scale(0.95);
    animation: fadeIn 0.3s ease-in-out;
    z-index: 1;

    .closeButton {
      position: absolute;
      top: $space-lg;
      right: $space-lg;
      cursor: pointer;
      background-color: transparent;
      color: $color-black;
      border: 0;

      .closeIcon {
        width: 20px;
        height: 20px;
      }
    }

    .modalHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: $space-lg;

      h2 {
        font-size: $font-size-xl;
        font-weight: 600;
      }
    }

    .modalBody {
      margin-bottom: $space-lg;

      p {
        font-size: $font-size-base;
        line-height: $line-height-relaxed;
        font-weight: $font-weight-normal;
      }
    }

    .modalFooter {
      display: flex;
      justify-content: flex-end;
      gap: $space-lg;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(0.95);
  }
}
