.container {
  .latestBlogPosts {
    .readMore {
      display: none;
    }

    @media only screen and (min-width: 768px) {
      width: 768px;
      margin: 0 auto;
      pointer-events: none;

      .readMore {
        display: block;
        pointer-events: auto;
        text-align: end;
        font-weight: 500;
        font-size: 16px;
        color: var(--color-blue);
        padding-right: 16px;
        cursor: pointer;

        .icon {
          margin-left: 8px;
        }
      }

      .wrapper {
        display: flex;
        flex-direction: row;
        gap: 16px;
      }
    }
  }
}

.latestBlogPosts {
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  h2 {
    color: var(--text-color);
    font-size: 24px;

    @media only screen and (min-width: 768px) {
      font-size: 28px;
      text-align: center;
      padding-top: 24px;
      padding-bottom: 32px;
    }
  }

  .latestBlogPost {
    color: var(--text-color);
    display: flex;
    gap: 16px;

    .thumbnail {
      height: 120px;
      width: 120px;
      object-fit: cover;
      border-radius: 8px;

      @media only screen and (min-width: 768px) {
        height: 100px;
        width: 100px;
      }
    }

    .contentWrapper {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 8px 0;

      small,
      p {
        color: var(--font-dark-gray);
      }
      h3 {
        color: var(--text-color);
        font-size: 20px;
        font-weight: 700;
        text-transform: capitalize;
      }
    }
  }
  .notWorking {
    padding: 16px;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 4px 8px #0000001a;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    margin: 0 auto;
    text-align: center;

    .icon {
      width: 32px;
      height: 32px;
      margin: 0 auto;
    }

    h3 {
      color: var(--text-color);
    }

    p {
      color: var(--font-dark-gray);
    }

    button {
      background-color: #1bc4f3;
      display: flex;
      border-radius: 90px;
      border: none;
      padding: 8px 16px;
      width: fit-content;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      cursor: pointer;
      pointer-events: all;

      .btnIcon {
        width: 16px;
        height: 16px;
        margin-right: 8px;
      }
    }

    .bottomLinks {
      display: flex;
      flex-direction: column;
      gap: 8px;
      border-top: 1px solid var(--super-light-gray);
      padding-top: 24px;
      margin: 0 auto;
      display: none; // TODO: remove once the links for guides are ready

      .links {
        display: flex;
        gap: 16px;

        .otherLinks {
          font-size: 14px;
          font-weight: 500;
          color: var(--color-blue);
          display: flex;
          align-items: center;

          .icon {
            width: 16px;
            height: 16px;
            margin-right: 4px;
          }
        }
      }
    }
  }
}
