.latestBlogPosts {
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  h2 {
    color: var(--text-color);
    font-size: 24px;
  }

  .latestBlogPost {
    color: var(--text-color);
    display: flex;
    gap: 16px;

    .thumbnail {
      height: 120px;
      width: 120px;
      object-fit: cover;
      border-radius: 8px;
    }

    .contentWrapper {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 8px 0;

      small,
      p {
        color: var(--font-dark-gray);
      }
      h3 {
        color: var(--text-color);
        font-size: 20px;
        font-weight: 700;
        text-transform: capitalize;
      }
    }
  }
}
