@use "@/styles/tokens" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 24px auto;
  padding: 32px 16px;
  font-size: 16px;
  color: $color-neutral-900;

  @media only screen and (min-width: 768px) {
    width: 768px;
    margin: 60px auto;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      background-color: $color-blue-lighter;
      border-radius: 16px;
      padding: 24px;
      line-height: 22px;

      h2 {
        font-size: 20px;
        margin-bottom: 8px;
      }

      p {
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
      }
    }
  }
}
