.container {
  color: var(--primary-font-dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  overflow: hidden;
  height: 240px;

  .imageWrapper {
    position: relative;

    .image {
      width: 100%;
      object-fit: cover;

      @media only screen and (min-width: 600px) {
        // height: unset;
      }
    }

    .backgroundOverlay {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      padding: 16px;
    }

    .tag {
      width: fit-content;
      border-radius: 90px;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      padding: 2px 12px;
      background-color: var(--white);
      color: var(--primary-font-dark);
      background-color: #dc2625;
      color: var(--white);

      .icon {
        color: var(--white);
        margin-right: 8px;
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      gap: 8px;

      h3 {
        font-size: 24px;
        font-weight: 600;
        line-height: 24px;
        color: var(--white);
      }
      p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        min-height: 60px; // line-height * 3
        height: 100%;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: var(--white);
      }
    }
  }
}
