@import "@/styles/tokens";

.container {
  color: $color-text-dark;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: $radius-sm;
  background-color: $color-white;
  box-shadow: $shadow-sm;
  border-radius: $radius-md;
  overflow: hidden;

  .imageWrapper {
    position: relative;
    display: flex;
    flex-grow: 1;

    .image {
      width: 100%;
      height: auto;
      object-fit: cover;

      @media only screen and (min-width: 600px) {
        height: unset;
      }
    }

    .readTime {
      position: absolute;
      top: $space-lg;
      right: $space-lg;
      border-radius: $radius-pill;
      font-size: $font-size-sm;
      font-weight: $font-weight-medium;
      line-height: $line-height-tight;
      padding: $space-xs $space-lg;
      background-color: $color-white;
      color: $color-text-dark;

      .icon {
        width: 14px;
        height: 14px;
        margin-right: 4px;
      }
    }

    .bottomInfo {
      display: flex;
      flex-direction: column;
      gap: $space-sm;
      width: calc(100% - 32px);
      position: absolute;
      bottom: $space-lg;
      left: $space-lg;

      .tag {
        width: fit-content;
        background-color: $color-blue-light;
        color: $color-blue;
        border-radius: $radius-pill;
        font-size: $font-size-sm;
        font-weight: $font-weight-medium;
        line-height: $line-height-tight;
        padding: $space-xs $space-lg;
        color: $color-white;

        &.blue {
          background-color: $color-blue;
        }
        &.green {
          background-color: $color-green-alpha;
        }
        &.purple {
          background-color: $color-purple-alpha;
        }
        &.orange {
          background-color: $color-orange-alpha;
        }
        &.red {
          background-color: $color-red-alpha;
        }
      }

      h3 {
        color: $color-white;
        font-size: $font-size-xl;
        font-weight: $font-weight-bold;
        line-height: $line-height-loose;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $space-lg;
    gap: $space-lg;

    .topContent {
      display: flex;
      gap: $space-lg;

      .country {
        font-size: $font-size-sm;
        font-weight: $font-weight-medium;
        line-height: $line-height-tight;

        .icon {
          margin-right: $space-sm;

          &.blue {
            color: $color-blue;
          }
          &.green {
            color: $color-green;
          }
          &.purple {
            color: $color-purple;
          }
          &.orange {
            color: $color-orange;
          }
          &.red {
            color: $color-red;
          }
        }
      }

      .date {
        color: $color-text-dark;
        font-size: $font-size-sm;
        font-weight: $font-weight-medium;
        line-height: $line-height-tight;
      }
    }

    p {
      color: $color-text-dark;
      font-size: $font-size-base;
      font-weight: $font-weight-normal;
      line-height: $line-height-base;
    }
  }
}

// Clickable card styles
.cardLink {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  display: block;
  height: 100%;
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;

  &:hover {
    transform: translateY(-2px);

    .container {
      box-shadow: $shadow-md;
    }
  }

  &:focus {
    outline: 2px solid $color-blue;
    outline-offset: 2px;
  }

  &:active {
    transform: translateY(0);
  }

  .container {
    height: 100%;
  }
}
