.container {
  display: none;

  @media only screen and (min-width: 768px) {
    display: flex;
    justify-content: flex-end;
    width: 768px;
    margin: 0 auto;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    li {
      .menuItem {
        position: relative;
        font-size: 16px;
        font-weight: 400;
        color: var(--primary-font-dark);
        cursor: pointer;

        &:hover {
          // color: var(--color-blue);
          font-weight: 500;

          .destinations {
            display: flex;
          }
        }
      }

      .destinations {
        display: none;
        flex-direction: column;
        position: absolute;
        left: -50%;
        width: 300px;
        height: auto;
        border-top: 1px solid rgb(233, 231, 231);
        padding: 16px;
        border-radius: 8px;
        background-color: var(--white);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 1;

        .destinationsWrapper {
          ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 8px;

            li {
              display: flex;
              width: 100%;
            }
          }

          .continent {
            width: calc(50% - 8px);
            padding-top: 16px;
            margin-right: 8px;

            &:not(:last-child) {
              margin-bottom: 24px;
            }

            .wrapper {
              h3 {
                font-size: 18px;
                line-height: 18px;
                font-weight: 600;
                color: var(--color-blue);

                .icon {
                  margin-right: 4px;
                }
              }

              ul {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);
                gap: 8px;
                padding: 16px 0;

                li {
                  color: var(--primary-font-dark);
                  font-weight: 500;
                  display: flex;
                  align-items: center;

                  &:hover {
                    color: var(--color-blue-medium);
                  }
                }
              }
            }
          }
        }

        .popularDestinations {
          display: flex;
          justify-content: flex-end;
          width: 100%;
          border-top: 1px solid rgb(231, 231, 231);
          padding-top: 16px;

          a.viewAll {
            color: var(--color-blue);
            font-weight: 500;

            .icon {
              margin-left: 4px;
            }
          }
        }
      }
    }
  }
}
