@import "@/styles/tokens";

.container {
  display: none;

  @media only screen and (min-width: 768px) {
    display: flex;
    justify-content: flex-end;
    width: 768px;
    margin: 0 auto;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    li {
      &.subscribe {
        button {
          display: flex;
          font-size: 16px;
          opacity: 1;
          color: $color-blue-business;

          svg {
            width: 20px;
            height: 20px;
            margin: 0;
          }
        }
      }

      .menuItem {
        position: relative;
        font-size: 16px;
        font-weight: 400;
        color: $color-neutral-900;
        cursor: pointer;
        padding: 8px 0;
        border-radius: 6px;

        .icon {
          margin-left: 4px;
          margin-bottom: 1px;
          font-size: 12px;
        }

        &:hover {
          color: $color-blue;
        }
      }

      .destinations {
        flex-direction: column;
        position: absolute;
        right: 0;
        min-width: 250px;
        width: auto;
        height: auto;
        border-top: 1px solid $color-gray-border-lighter;
        padding: 16px;
        border-radius: 8px;
        background-color: $color-white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 1;

        .destinationsWrapper {
          display: flex;
          flex-direction: column;

          ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 8px;

            li {
              display: flex;
              width: 100%;
            }
          }

          .continent {
            width: 100%;
            padding-top: 16px;
            margin-right: 8px;

            .wrapper {
              h3 {
                font-size: 18px;
                line-height: 18px;
                font-weight: 600;
                color: $color-blue;

                .icon {
                  margin-right: 4px;
                }
              }

              ul {
                display: flex;
                flex-direction: column;
                gap: 8px;
                padding: 16px 0;

                li {
                  color: $color-neutral-900;
                  font-weight: 500;
                  display: flex;
                  align-items: center;

                  &:hover {
                    color: $color-blue-medium;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
