.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  background-color: var(--white);
  color: var(--primary-font-dark);

  @media only screen and (min-width: 768px) {
    width: 768px;
    margin: 0 auto;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 16px 32px;
  }

  .iconWrapper {
    width: 60px;
    height: 60px;
    background-color: rgba(59, 130, 246, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 24px;

    .compassIcon {
      color: var(--primary-dark);
      font-size: 28px;
    }
  }

  h2 {
    margin-bottom: 24px;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}
