.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  padding: 32px 16px;
  background-color: var(--white);
  color: var(--primary-font-dark);

  @media only screen and (min-width: 768px) {
    width: 768px;
    margin: 0 auto;
  }

  .compassIcon {
    width: 32px;
    margin-bottom: 8px;
  }

  h2 {
    margin-bottom: 24px;
  }

  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
}
