.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  color: #374151;
  padding: 32px;

  .compassIcon {
    width: 32px;
    margin-bottom: 8px;
  }

  h2 {
    margin-bottom: 24px;
  }

  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
  }
}
