@use "@/styles/tokens" as *;

.container {
  .wrapper {
    width: 100%;

    @media only screen and (min-width: $breakpoint-tablet) {
      width: 768px;
      margin: 0 auto;
      margin-top: $space-3xl;
      margin-bottom: $space-3xl;
    }
  }

  h2 {
    color: $color-text-dark;
    font-size: $font-size-2xl;
    font-weight: $font-weight-bold;
    text-align: center;
    padding: $space-lg 0 $space-xl;
    line-height: $line-height-heading;
  }

  p {
    color: $color-text;
    font-size: $font-size-base;
    line-height: $line-height-relaxed;
    font-weight: $font-weight-medium;
    text-align: center;
  }
}
