@use "@/styles/tokens" as *;

a.defaultLink {
  color: $color-text-dark;

  &:hover {
    color: $color-text-gray;
    color: $color-blue-bright;
  }
}

a.activeLink {
  color: $color-blue-medium;
  font-weight: $font-weight-medium;
  border-bottom: 2px solid $color-blue-medium;
}
