.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 32px 16px;
  gap: 16px;
  background-color: var(--light-gray-bg);
  color: var(--primary-font-dark);

  .wrapper {
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: repeat(2, 1fr);
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
  }
}
