@use "@/styles/tokens" as *;

.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(100vh - 291px);
  padding: 24px;
  color: $color-black;
  margin: 0 auto;

  @media only screen and (min-width: 768px) {
    width: 768px;
    height: calc(100vh - 386px);

    & > div {
      margin: 0 auto;
    }
  }

  h2 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: $color-neutral-900;
  }

  p {
    color: $color-neutral-900;
    text-align: center;
    font-size: 14px;
    padding: 0 22px;
    margin: 16px 0 24px;
  }
}
