.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  border: none;

  .icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 4px;
    color: var(--primary-font-dark);
    transition:
      transform 0.3s ease,
      color 0.3s ease;
  }

  &.animate {
    .icon {
      transform: scale(1.25);
      color: red;
    }
  }

  p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 0;
    color: var(--primary-font-dark);
  }
}
