:root {
  /* --background: #ffffff;
  --foreground: #ffffff; */
  --light-gray-bg: #f9fafb;
  --white: #ffffff;
  --black: #111827;
  --text-color: #333;
  --color-blue: #3a78fc;
  --color-blue-medium: #0c90e9;
  --color-blue-light: #1bc4f3;
  --color-bright-green: #acf877;
  --color-dark-bright-green: #75c13f;

  --background-light: #f6faff;

  /* Fonts */
  --font-primary: "Roboto", "Helvetica Neue", "Helvetica", arial, sans-serif;
  --font-secondary: "Open Sans", sans-serif;

  /* Font Colors */
  --primary-font-dark: #374151;
  --font-dark-gray: #4b5563;
  --font-gray: #9ba3af;
  --super-light-gray: #f3f4f6;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
} */

html,
body {
  /* display: flex;
  flex-direction: column; */
  max-width: 100vw;
  /* height: 100vh;
  height: 100dvh; */
  /* overflow-x: hidden; */
  cursor: auto !important;
  /* animation: meshAnimation 20s ease-in-out infinite alternate; */
}

/* styles/meshGradient.css */
@keyframes meshAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

body,
a,
button,
input,
textarea,
li,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--white);
}

.noSroll {
  overflow: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
