@use "@/styles/tokens" as *;

.container {
  max-width: 640px;
  width: 100%;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

  .image {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 16px;
  }

  h1 {
    color: $color-neutral-900;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: 16px 0;
  }

  .semiHeadline {
    color: $color-blue;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    margin-bottom: 12px;
  }

  .description {
    color: $color-neutral-900;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin-bottom: 24px;
  }

  .buttonsSection {
    display: flex;
    flex-direction: column;
    gap: 16px;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      color: $color-white;
      text-align: center;
      padding: 16px 0;
      font-weight: 600;
      cursor: pointer;

      .icon {
        width: 20px;
        margin-right: 6px;
      }

      &.goHomeBtn {
        background-color: $color-blue;
      }

      &.readLatestArticles {
        background-color: $color-blue-medium;
      }
    }
  }
}
