.adContainer {
  width: 100%;
  margin: 1.5rem 0;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  // Prevent layout shift
  ins.adsbygoogle {
    display: block;
    width: 100%;
  }
}
