.container {
  padding: 16px;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;

  .wrapper {
    display: flex;
    gap: 8px;

    .icon {
      width: 20px;
      height: 20px;
    }

    h2 {
      font-weight: 700;
      font-size: 20px;
    }
  }

  p {
    font-size: 16px;
  }
}
