@import "@/styles/tokens";

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 16px;
  background-color: $color-white;
  border-radius: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  .title {
    display: flex;
    align-items: center;
    gap: 8px;

    .icon {
      color: $color-blue-sky;
      width: 32px;
      height: auto;
      margin-right: 8px;
    }

    h2 {
      text-transform: capitalize;
      color: $color-neutral-900;
    }
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;

    &.lightBlueBgList {
      li {
        background-color: $color-blue-lighter;
        color: $color-blue-medium;
      }
    }

    &.lightTealBgList {
      li {
        background-color: $color-white;
        color: $color-teal;
      }
    }

    &.lightGreenBgList {
      li {
        background-color: $color-bright-green-light;
        color: $color-neutral-700;
      }
    }

    li {
      padding: 8px 16px;
      border-radius: 8px;
      font-weight: 500;
    }
  }

  .imageContainer {
    width: 100%;
    height: 100%;

    .cardImage {
      border-radius: 12px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  p {
    font-size: 16px;
    line-height: calc(22 / 16);
    font-weight: 400;
    color: $color-neutral-900;
  }
}
