@use "@/styles/variables.scss" as *;

.aboutContent {
  background-color: var(--light-gray-bg);
  padding: 32px 16px;
  color: var(--primary-font-dark);
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
}
