@use "@/styles/tokens" as *;

.aboutContent {
  padding: 48px 16px 32px;
  color: $color-neutral-900;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media only screen and (min-width: 768px) {
    width: 768px;
    margin: 0 auto;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
}
