@import "@/styles/tokens";

.container {
  background-color: $color-light-gray-bg;

  .countryIntro {
    background-color: $color-white;
    padding: $space-2xl $space-lg;
    display: flex;
    flex-direction: column;
    gap: $space-xl;

    p {
      color: $color-text;
      font-size: $font-size-base;
      line-height: $line-height-relaxed;
      font-weight: $font-weight-medium;

      @media only screen and (min-width: $breakpoint-tablet) {
        width: 600px;
        margin: 0 auto;
      }
    }
  }

  .masonryGridSection {
    display: flex;
    flex-direction: column;
    gap: $space-lg;
    padding: $space-xl $space-lg;

    .column {
      display: flex;
      flex-direction: column;
      gap: $space-lg;
      width: 100%;
    }

    @media only screen and (min-width: $breakpoint-mobile) {
      flex-direction: row;
      width: 600px;
      margin: 0 auto;
    }

    @media only screen and (min-width: $breakpoint-tablet) {
      flex-direction: row;
      width: 768px;
      margin: 0 auto;
    }
  }
}
