.container {
  background-color: var(--light-gray-bg);

  .countryIntro {
    background-color: var(--white);
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    p {
      color: var(--text-color);
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;

      @media only screen and (min-width: 768px) {
        width: 600px;
        margin: 0 auto;
      }
    }
  }

  .masonryGridSection {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px 24px 24px;

    .column {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: calc(50% - 8px);
    }

    @media only screen and (min-width: 600px) {
      flex-direction: row;
      width: 600px;
      margin: 0 auto;
    }

    @media only screen and (min-width: 900px) {
      flex-direction: row;
      width: 800px;
      margin: 0 auto;
    }
  }
}
