.container {
  .countryIntro {
    background-color: var(--white);
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    p {
      color: var(--text-color);
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
    }
  }
}
