@use "@/styles/tokens" as *;

.section {
  background-color: $color-white;
  color: $color-neutral-900;
}

.container {
  padding: 48px 16px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (min-width: 768px) {
    width: 768px;
    margin: 0 auto;
  }
}

.content {
  max-width: 1024px;
  margin: 0 auto;
}

.header {
  text-align: center;
  margin-bottom: 48px;

  .iconWrapper {
    width: 60px;
    height: 60px;
    background-color: $color-bright-green-light;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 24px;

    .lockIcon {
      color: $color-bright-green;
      font-size: 28px;
    }
  }
}

.grid {
  display: grid;
  gap: 32px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  display: flex;
  align-items: flex-start;
  gap: 16px;

  .checkIconWrapper {
    width: 32px;
    height: 32px;
    background-color: $color-bright-green-light;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-top: 4px;

    .checkIcon {
      color: $color-dark-bright-green;
      font-size: 16px;
    }
  }

  .cardContent {
    h3 {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 8px;
      color: $color-neutral-900;
    }

    p {
      color: $color-neutral-500;
      line-height: 24px;
      font-size: 16px;
    }
  }
}
