.noScroll {
  overflow: hidden !important;
  height: 100vh;
}

.burgerMenu {
  display: block;

  @media only screen and (min-width: 768px) {
    display: none;
  }

  .burgerButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    padding: 0;
    z-index: 10;

    .icon {
      color: var(--black);
      font-size: 32px;
      margin: 0;
      padding: 0;
      transition: all 0.3s linear;
      transform: rotate(0deg);
      transform-origin: 0.5px;
      transition: transform 0.3s ease-in-out;
    }
  }

  .burgerIcon {
    width: 30px;
    height: 3px;
    background-color: #333;
    border-radius: 2px;
    transition: all 0.3s linear;

    &.srOnly {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0;
    }
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--primary-font-dark);
    backdrop-filter: blur(0);
    transition: backdrop-filter 0.3s ease;
    z-index: 50;
    overflow-y: hidden;

    &.open {
      backdrop-filter: blur(4px);
      display: flex;
    }

    .menuWrapper {
      background-color: var(--white);
      height: 100%;
      width: 310px;
      position: fixed;
      top: 0;
      transform: translateX(150%);
      transition: transform 8s cubic-bezier(0.4, 0, 0.2, 1);
      box-shadow: -2px 0 16px rgba(0, 0, 0, 0.08);
      z-index: 100;

      &.open {
        transform: translateX(0);
        overflow-y: auto;
      }

      .closeMenu {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-top: 24px;
        position: sticky;
        top: 0;
        background-color: var(--white);

        button.closeBtn {
          background-color: transparent;
          padding: 0;
          margin: 0;
          border: 0;
          color: var(--black);

          .icon {
            font-size: 32px;
            margin: 0;
            padding: 0;
          }
        }
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        padding: 0 16px 32px 24px;
        gap: 20px;

        li {
          display: flex;
          width: 100%;

          &.destinationSection {
            flex-direction: column;

            .destinationsWrapper {
              display: flex;
              flex-direction: row;
            }
          }

          svg {
            margin-right: 8px;
          }

          a,
          h2 {
            font-size: 16px;
            line-height: 18px;
            font-weight: 400;
          }

          .continent {
            margin-left: 24px;
            padding-top: 16px;

            .wrapper {
              h3 {
                font-size: 16px;
                line-height: 18px;
                font-weight: 600;
                color: var(--color-blue);
              }

              ul {
                display: flex;
                padding: 16px;
              }

              a.viewMore {
                color: var(--color-blue);
              }
            }
          }
        }
      }
    }
  }

  footer {
    .followUsLinks {
      display: flex;
      justify-content: center;
      gap: 20px;
      padding: 16px 0;

      a {
        color: var(--color-blue-light);

        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
