@import "@/styles/tokens";

.container {
  padding: 24px;
  border-radius: 16px;
  background-color: $color-white;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  color: $color-neutral-900;
  align-items: flex-start;
  height: fit-content;

  svg {
    width: 32px;
    height: auto;
  }

  &.whiteBg {
    background-color: $color-white;
    color: $color-neutral-900;

    h2 {
      color: $color-neutral-900;
    }

    p {
      color: $color-neutral-900;
    }

    &.blue {
      svg {
        color: $color-blue-medium-alt;
      }
    }
    &.orange {
      svg {
        color: $color-amber-medium;
      }
    }
    &.red {
      svg {
        color: $color-pink;
      }
    }
    &.green {
      svg {
        color: $color-green-medium;
      }
    }
    &.purple {
      svg {
        color: $color-purple-medium;
      }
    }
    &.pink {
      svg {
        color: $color-purple-bright;
      }
    }
  }

  &.colourBg {
    background-color: $color-neutral-50;
    color: $color-white;

    svg {
      color: $color-white;
    }

    h2 {
      color: $color-white;
    }

    p {
      color: $color-white;
    }

    &.blue {
      background: $color-blue-medium-alt;
      background: linear-gradient(
        90deg,
        rgba(58, 131, 245, 1) 0%,
        rgba(9, 181, 213, 1) 100%
      );
    }
    &.red {
      background: $color-pink;
      background: linear-gradient(
        90deg,
        rgba(219, 41, 116, 1) 0%,
        rgba(233, 86, 18, 1) 100%
      );
    }
    &.orange {
      background: $color-amber-medium;
      background: linear-gradient(
        90deg,
        rgba(244, 157, 8, 1) 0%,
        rgba(248, 116, 21, 1) 100%
      );
    }
    &.green {
      background: $color-green-medium;
      background: linear-gradient(
        90deg,
        rgba(3, 149, 106, 1) 0%,
        rgba(15, 147, 135, 1) 100%
      );
    }
    &.purple {
      background: $color-purple-medium;
      background: linear-gradient(
        90deg,
        rgba(122, 60, 237, 1) 0%,
        rgba(63, 90, 235, 1) 100%
      );
    }
    &.pink {
      background: $color-purple-bright;
      background: linear-gradient(
        90deg,
        rgba(142, 92, 243, 1) 0%,
        rgba(232, 72, 155, 1) 100%
      );
    }
  }

  h2 {
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 8px 0 12px 0;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: calc(22 / 16);
    color: $color-neutral-100;
  }
}
