@import "@/styles/tokens";

.container {
  padding: 16px;
  background-color: $color-white;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-start;
  gap: 16px;

  @media only screen and (min-width: 768px) {
    width: 32%;
  }

  .icon {
    width: 24px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;

    h2 {
      font-weight: 700;
      font-size: 16px;
    }

    p {
      font-size: 14px;
    }
  }
}
