@use "@/styles/tokens" as *;

.container {
  padding: $space-2xl $space-lg;
  color: $color-text-dark;

  @media only screen and (min-width: $breakpoint-tablet) {
    width: 768px;
    margin: 0 auto;
  }

  h1,
  h2 {
    text-transform: capitalize;
  }

  h1 {
    font-size: 36px;
    margin: $space-lg 0;
  }

  h2 {
    font-size: $font-size-xl;
  }

  p {
    font-size: $font-size-base;
    line-height: $line-height-relaxed;
    font-weight: $font-weight-normal;
  }

  img {
    width: 100%;
    border-radius: 12px;
  }

  .blogInfo {
    display: flex;
    gap: $space-md;
    margin-bottom: $space-md;

    .blogDetail {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &:last-child {
        justify-content: flex-end;
      }

      p {
        font-size: $font-size-base;
        line-height: $line-height-relaxed;
        font-weight: $font-weight-normal;
        margin-bottom: 0;
      }
    }

    .icon {
      width: 16px;
      margin-right: $space-xs;
      cursor: pointer;
    }
  }

  .socialMedia {
    display: flex;
    align-items: center;
    gap: $space-md;
    margin-bottom: $space-2xl;

    .mobileShareButton {
      background-color: transparent;
      border: none;

      .icon {
        width: 20px;
        height: 20px;
        color: $color-blue-medium;
      }
    }

    .icon {
      width: 18px;
    }
  }

  .postContent {
    display: flex;
    flex-direction: column;
    gap: $space-xl;

    p {
      img {
        position: unset !important;
      }
    }

    ul {
      list-style-type: disc;
      padding-left: $space-xl;
      margin: 0;

      li {
        margin-bottom: $space-sm;
      }
    }

    div.faq-section {
      // margin-top: 48px;
      padding-top: $space-2xl;
      border-top: 1px solid $color-neutral-200;
    }
  }
}
