.container {
  padding: 32px 16px;
  color: var(--primary-font-dark);

  @media only screen and (min-width: 768px) {
    width: 768px;
    margin: 0 auto;
  }

  h1,
  h2 {
    text-transform: capitalize;
  }

  h1 {
    font-size: 36px;
    margin: 16px 0;
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }

  img {
    width: 100%;
    border-radius: 12px;
  }

  .blogInfo {
    display: flex;
    gap: 12px;
    margin-bottom: 12px;

    .blogDetail {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &:last-child {
        justify-content: flex-end;
      }

      p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        margin-bottom: 0;
      }
    }

    .icon {
      width: 16px;
      margin-right: 4px;
      cursor: pointer;
    }
  }

  .socialMedia {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 32px;

    .mobileShareButton {
      background-color: transparent;
      border: none;

      .icon {
        width: 20px;
        height: 20px;
        color: var(--color-blue-medium);
      }
    }

    .icon {
      width: 18px;
    }
  }

  .postContent {
    display: flex;
    flex-direction: column;
    gap: 24px;

    p {
      img {
        position: unset !important;
      }
    }

    ul {
      list-style-type: disc;
      padding-left: 24px;
      margin: 0;

      li {
        margin-bottom: 8px;
      }
    }

    div.faq-section {
      // margin-top: 48px;
      padding-top: 32px;
      border-top: 1px solid var(--gray-200, #e5e5e5);
    }
  }

  .pollSection {
    margin-top: 48px;
    padding-top: 32px;
    border-top: 1px solid var(--gray-200, #e5e5e5);

    @media only screen and (max-width: 768px) {
      margin-top: 32px;
      padding-top: 24px;
    }
  }
}
