@import "@/styles/tokens";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: $color-neutral-50;
  color: $color-neutral-900;

  @media only screen and (min-width: 768px) {
    margin: 0 auto;
  }

  .wrapper {
    padding: 48px 16px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (min-width: 768px) {
      width: 768px;
      margin: 0 auto;
    }

    .iconWrapper {
      width: 60px;
      height: 60px;
      background-color: $color-purple-light;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto 24px;

      .handIcon {
        color: $color-purple;
        font-size: 28px;
      }
    }

    h2 {
      margin-bottom: 24px;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;

      &:last-child {
        margin-top: 24px;
      }
    }
  }
}
