.container {
  // background-color: var(--light-gray-bg);
  // border: 1px solid var(--light-gray-bg);
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  padding: 6px 10px;
  // margin-bottom: 10px;

  &:not(:nth-child(4)) {
    margin-bottom: 12px;
  }

  // &:nth-child(1) {
  //   background-image: linear-gradient(to right, #EBE6F1, #E3E8F7);
  // }

  // &:nth-child(2) {
  //   background-image: linear-gradient(to right, #E3E8F7, yellow);
  // }

  // &:nth-child(3) {
  //   background-image: linear-gradient(to right, red, yellow);
  // }

  // &:nth-child(4) {
  //   background-image: linear-gradient(to right, red, #EBE6F1);
  // }

  p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;

    .icon {
      display: flex;
      align-items: center;
      width: 16px;
      margin-right: 6px;
    }
  }
}
